<footer>
    <div class="footer-row">
        <div class="hide-mobile">
            <img class="footer-image-small" src="./img/logo.png"><br>
        </div>
        <div>
            <a target="_blank" href="https://de-de.facebook.com/"><img class="footer-social-images"
                    src="./img/facebook-48.png"> </a>
            <a target="_blank" href="https://www.youtube.com/"><img class="footer-social-images"
                    src="./img/youtube-48.png"> </a>
            <a target="_blank" href="https://twitter.com/"><img class="footer-social-images"
                    src="./img/twitter-3-48.png"></a>
        </div>

        <div class="link-imprint">
            <a href="datenschutz.html"> Datenschutz </a>
            <span>|</span>
            <a href="impressum.html"> Impressum</a>
        </div>

    </div>

    <div class="footer-copyright">
        © Copyright 2023 Developer Akademie
    </div>

</footer>