<nav>
    <a class="nav-logo" href="index.html"><img class="nav-logo" src="./img/logo_neat.png" alt="Kochwelt Logo"></a>
    <input type="checkbox" id="toggle_button">
    <label for="toggle_button" class="toggle_button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>
    <ul class="nav-list">
        <li><a href="index.html">Start</a></li>
        <li><a href="bruschettapotatoes.html">Rezept des Tages</a></li>
        <li><a href="kochen_mit_wok.html">Kochtipps</a></li>
        <li><a href="contact.html">Kontakt</a></li>
    </ul>
</nav>